---
import Card from "../../components/Card.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getEventsByIdRequest } from "../../../api/events.api";

export async function getStaticPaths() {
  return [
    { params: { eventbysearch: "Millonarios" } },
    { params: { eventbysearch: "Concierto" } },
  ] as {
    params: { eventbysearch: string };
  }[];
}

const { eventbysearch }: { eventbysearch: string } = Astro.params;

const isEventMatch = await getEventsByIdRequest(eventbysearch);
---

<Header />
{
  !isEventMatch.length ? (
    ""
  ) : (
    <>
      <div class="grid gap-6 mt-8 md:grid-cols-3 lg:grid-cols-4">
        {isEventMatch.map(
          (item: {
            event_img: string | undefined;
            event_redirection: string;
            event_name: string;
            event_desc: string;
            event_id: number;
          }): JSX.Element => {
            return (
              <Card
                event_desc={item.event_desc}
                event_id={item.event_id}
                event_img={item.event_img}
                event_name={item.event_name}
                event_redirection={item.event_redirection}
              />
            );
          }
        )}
      </div>
      <Footer />
    </>
  )
}
